<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="sidebar" id="sidebar">
        <a href="{{ url_for('admin') }}"><i class="fa-solid fa-house"></i><h3>Administrador</h3></a>
        <ul>
            <li class="sidebar-toggle" id="sidebarToggle">
                <a href="#"><i class="fa-solid fa-angle-right"></i></a>
            </li>
            <li><a href="{{ url_for('crud') }}"><i class="fas fa-database"></i> <span>CRUD</span></a></li>
            <li><a href="#"><i class="fas fa-info-circle"></i> <span>Información</span></a></li>
            <li><a href="{{ url_for('lista_usuarios') }}"><i class="fa-solid fa-users"></i> <span>Lista de Usuarios</span></a></li>            <li><a href="{{ url_for('cuenta') }}"><i class="fas fa-user"></i> <span>Cuenta</span></a></li>
            <li><a href="{{ url_for('blog_noticias') }}"><i class="fas fa-newspaper"></i> <span>Blog de noticias</span></a></li>
            <li><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> <span>Cerrar sesión</span></a></li>
        </ul>
    </div>

    <div class="main-content" id="main-content">
        {% block content %}
        <!-- El contenido principal de cada página irá aquí -->
        {% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>
