{% extends 'base.html' %}

{% block title %}
    CRUD - Dashboard
{% endblock %}

{% block content %} 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crud.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


<body>
    <h1 class="text-center mb-4">Gestión de Proyectos</h1>
    <div class="container fade-in">
        <div class="card shadow">
            <div class="card-body">
                <form action="/user" method="POST">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="name" class="form-label">Nombre Proyecto</label>
                            <input type="text" class="form-control mb-3" id="name" name="name" required>
                        </div>
                        <div class="col">
                            <label for="creation_date" class="form-label">Fecha de Creación</label>
                            <input type="datetime-local" class="form-control mb-3" id="creation_date" name="creation_date" required>
                        </div>
                        <div class="col d-flex align-items-end">
                            <button class="btn btn-primary w-10" type="submit">Guardar</button>
                        </div>
                    </div>
                </form>

                <!-- Formulario de búsqueda -->
                <div class="row mb-3">
                    <div class="col-md-8">
                        <input type="text" id="searchQuery" class="form-control" placeholder="Buscar proyecto por nombre">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary w-10" onclick="searchProject()">Buscar</button>
                    </div>
                </div>

                <!-- Tabla -->
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Nombre Proyecto</th>
                                <th scope="col">Fecha de Creación</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in data %}
                            <tr>
                                <td>{{ d.id }}</td>
                                <td><a href="{{ url_for('proyecto_detail', id=d.id) }}" class="text-decoration-none">{{ d.name }}</a></td>
                                <td>{{ d.creation_date.strftime('%Y-%m-%d %H:%M') }}</td>
                                <td>
                                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal{{ d.id }}">Editar</button>
                                    <button class="btn btn-danger btn-sm" onclick="deleteProject('{{ d.id }}')">Eliminar</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% for d in data %}
                <!-- Modal -->
                <div class="modal fade" id="modal{{ d.id }}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Editar Proyecto</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/edit/{{ d.id }}" method="post">
                                    <div class="mb-3">
                                        <label for="editName{{ d.id }}" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="editName{{ d.id }}" name="name" value="{{ d.name }}" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editDate{{ d.id }}" class="form-label">Fecha de Creación</label>
                                        <input type="datetime-local" class="form-control" id="editDate{{ d.id }}" name="creation_date" value="{{ d.creation_date.strftime('%Y-%m-%dT%H:%M:%S') }}" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/crud.js') }}"></script>
{% endblock %}
